@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray; 
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.692);
    width: 100vw;
    height: 50px;
    text-align: center;
}

header a {
    margin: 1px;
    color: white;
    width: 130px;
    font-size: 15px;
    text-decoration: none;
}