@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
    background-color: darkgray; 
}
h1{
    font-size: 26px;
    margin: 10px;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.692);
    
    height: 70px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.418);
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.596);
    text-align: center;
}

header a {
    margin: 2px;
    color: white;
    padding: auto;
    width: 130px;
    font-size: 26px;
    text-decoration: none;
}


section#links{
    
    display: grid;
    grid-template-rows: auto auto auto;
    max-width: 65vw;
    margin: 20px;
    margin-top: 50px;
    padding: 5%;
    padding-top: 0;
    text-align: justify;
}

ul.links{
    display: flex;
    justify-content: space-around;
    margin-top: 15px
}


img.usuario{
    min-width: 750px;
    display: inline-block;
    position: absolute;
    right: 8vw;
    top: 90px;
    min-width: 20%;
    height: 30%;
    border: 2px solid black;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.37);
    border-radius: 50%;
    margin: 10px;
}

section{
   padding: 40px;
    text-align: justify;
}

section#links{
    padding: 6vh   10vw;
}

ul.skills{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    height: 100px;
    align-items: center;
}

ul.hobbies{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    height: 100px;
    align-items: center;
}

ul.formacion{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    height: 100px;
    align-items: center;
}

div.experiencia{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: blue;
    text-align: center;
    width: 20vw;
    height: 30vh;
    padding: 2px;
}
.experiencia>div>p,h2{
    margin: 20px;
}
a.ref{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 20px; 
}

section#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto>p{
    margin: 5px;
}
form>p>label,input{
    margin: 5px;
    width: 400px;
}

iframe{
    margin: 10px;
    background-color: blueviolet;
}

.contacto{
    
    width: 450px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-items:self-end;
}
.boton{
    width: 200px;
    border-radius: 5px;
}

footer{
    background-color: black;   
    color: white;
}

section#img01{
    background-color: black;
    background-image: url("imagenes/fondo-ciudad.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}


